@page
@model StravaStatisticsAnalyzerWeb.Pages.Segments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Segment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.AvgGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.AvgGrade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.MaxGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.MaxGrade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.ElevationHigh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.ElevationHigh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.ElevationLow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.ElevationLow)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.StartLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.StartLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.StartLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.StartLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.EndLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.EndLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.EndLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.EndLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.Starred)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.Starred)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Segment.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
