@page
@using System.Extensions
@model StravaStatisticsAnalyzerWeb.Pages.Segments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Segment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.AvgGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.AvgGrade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.MaxGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.MaxGrade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.ElevationHigh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.ElevationHigh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.ElevationLow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.ElevationLow)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.StartLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.StartLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.StartLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.StartLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.EndLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.EndLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.EndLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.EndLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment.Starred)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment.Starred)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].MovingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].ElapsedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].AvgSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SegmentEfforts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @{string convertedItemMovingTime = item.MovingTime.ToTime();} 
                @Html.DisplayFor(modelItem => convertedItemMovingTime)
            </td>
            <td>
                @{string convertedItemElapsedTime = item.ElapsedTime.ToTime();} 
                @Html.DisplayFor(modelItem => convertedItemElapsedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-page="../SegmentEfforts/Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div>
    <a asp-page="./Edit" asp-route-id="@Model.Segment.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
