@page
@model StravaStatisticsAnalyzerWeb.Pages.SegmentEfforts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEffort[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEffort[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEffort[0].MovingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEffort[0].ElapsedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEffort[0].AvgSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEffort[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEffort[0].ActivityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEffort[0].AthleteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEffort[0].SegmentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SegmentEffort) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElapsedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AthleteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegmentID)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
