@page
@using System.Extensions
@model StravaStatisticsAnalyzer.Web.Pages.Analysis.ResultModel

@{
    ViewData["Title"] = "Results";
}

<h1>Analysis Results</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnalysisResults[0].Name)
            </th>
            <th>
                Average (hh:mm:ss @@ @Model.UnitsStr)
            </th>
            <th>
                Best (hh:mm:ss @@ @Model.UnitsStr)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AnalysisResults) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @foreach (var subResult in item.SubResults)
            {
                string convertedAvgResult = $"{subResult.Time.Average.ToTime()} @ {Model.ConvertUnitsAndRound(subResult.Speed.Average)}";
                <td>
                    @Html.DisplayFor(modelItem => convertedAvgResult)
                </td>
                string convertedBestResult = $"{subResult.Time.Minimum.ToTime()} @ {Model.ConvertUnitsAndRound(subResult.Speed.Maximum)}";
                <td>
                    @Html.DisplayFor(modelItem => convertedBestResult)
                </td>
            }
        </tr>
}
    </tbody>
</table>
