@page
@model StravaStatisticsAnalyzer.Web.Pages.ActivityEfforts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActivityEffort</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.MovingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.MovingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.ElapsedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.ElapsedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.AvgSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.AvgSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.MaxSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.MaxSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.AthleteID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.AthleteID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.TotalElevationGain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.TotalElevationGain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.ElevationHigh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.ElevationHigh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.ElevationLow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.ElevationLow)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.StartLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.StartLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.StartLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.StartLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.EndLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.EndLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.EndLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.EndLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEffort.Commute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEffort.Commute)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ActivityEffort.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
