@page
@model StravaStatisticsAnalyzer.Web.Pages.ActivityEfforts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    <a asp-action="GetActivities" asp-controller="Strava" class="btn btn-default">Get activities from Strava</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].MovingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].ElapsedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].AvgSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].MaxSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].DateTime)
            </th>
            @*
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].AthleteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].TotalElevationGain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].ElevationHigh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].ElevationLow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].StartLatitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].StartLongitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].EndLatitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].EndLongitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].Commute)
            </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.ActivityEffort[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ActivityEffort) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElapsedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            @*
            <td>
                @Html.DisplayFor(modelItem => item.AthleteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalElevationGain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElevationHigh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElevationLow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartLatitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartLongitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndLatitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndLongitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commute)
            </td>
            *@
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
