@page
@using System.Extensions
@model StravaStatisticsAnalyzer.Web.Pages.Activities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.MovingTime)
        </dt>
        <dd class="col-sm-10">
            @{string convertedMovingTime = Model.Activity.MovingTime.ToTime();}
            @Html.DisplayFor(model => convertedMovingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ElapsedTime)
        </dt>
        <dd class="col-sm-10">
            @{string convertedElapsedTime = Model.Activity.ElapsedTime.ToTime();}
            @Html.DisplayFor(model => convertedElapsedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.AvgSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.AvgSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.MaxSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.MaxSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.AthleteID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.AthleteID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.TotalElevationGain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.TotalElevationGain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ElevationHigh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.ElevationHigh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ElevationLow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.ElevationLow)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.StartLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.StartLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.StartLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.StartLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.EndLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.EndLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.EndLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.EndLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Commute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Commute)
        </dd>
    </dl>
</div>
<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].MovingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].ElapsedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].AvgSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].ActivityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].AthleteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegmentEfforts[0].SegmentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SegmentEfforts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @{string convertedItemMovingTime = item.MovingTime.ToTime();} 
                @Html.DisplayFor(modelItem => convertedItemMovingTime)
            </td>
            <td>
                @{string convertedItemElapsedTime = item.ElapsedTime.ToTime();} 
                @Html.DisplayFor(modelItem => convertedItemElapsedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AthleteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegmentID)
            </td>
            <td>
                <a asp-page="../SegmentEfforts/Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>



<div>
    <a asp-page="./Edit" asp-route-id="@Model.Activity.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
