@page
@model StravaStatisticsAnalyzer.Web.Pages.Activities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.MovingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.MovingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ElapsedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.ElapsedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.AvgSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.AvgSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.MaxSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.MaxSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.AthleteID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.AthleteID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.TotalElevationGain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.TotalElevationGain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ElevationHigh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.ElevationHigh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ElevationLow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.ElevationLow)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.StartLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.StartLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.StartLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.StartLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.EndLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.EndLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.EndLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.EndLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Commute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Commute)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Activity.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
